{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-module-resolver", {
      "alias": {
        "ROOT": "./server/src",
        "COMPONENTS": "./server/src/components",
        "MODELS": "./server/src/models",
        "SHARED": "./shared"
      }
    }]
  ]
}
